.App {
  text-align: center;
  padding: 20px;
}

.Line{
  border-bottom: 1px solid #888;
  margin-bottom: 15px;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  float: right;
}

.nav{
  text-align: center;
  height: 50px;
}

.search-bar input {
  padding: 10px;
  width: 80%;
  max-width: 400px;
  float: left;
}

.csv-upload input {
  padding: 10px;
  width: 80%;
  max-width: 400px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px;
  padding: 12px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-row {
  margin: 5px 0;
}

@media (max-width: 600px) {
  .card {
    width: 100%;
  }
}
